.wood{background-image: linear-gradient(to bottom right,#F29661 20%,#CC723D 60%,#F29661);}
.woodleft{background-image: repeating-linear-gradient(to right,#F29661,#CC723D);}
.wooddown{background-image: linear-gradient(to bottom,#F29661 20%,#CC723D 60%,#F29661);}
.door{width: 60%;height: 60%;background-color: #CC723D;position: relative;}
.hand{width: 30px;height: 30px;background-color: goldenrod;border-radius: 50%;top: 50%;position: absolute;left: 30px;transform: translateY(-50%);box-shadow:  1px 0 1px rgba(0, 0, 0, 0.5),-1px 0 1px rgba(0, 0, 0, 0.5);}
.draw{width: 60%;height: 40%;background-color: #F29661;top: 50%;position: absolute;box-shadow:  1px 0 1px rgba(0, 0, 0, 0.5),-1px 0 1px rgba(0, 0, 0, 0.5);}
.pock{width: 80%;height: 33%;box-shadow:  1px 0 1px rgba(0, 0, 0, 0.5),-1px 0 1px rgba(0, 0, 0, 0.5);left: 10%;position: absolute;}
.up{top: 10%;}
.down{bottom: 10%;}
.open{width: 20px;height: 20px;box-shadow:  1px 0 1px rgba(0, 0, 0, 0.5),-1px 0 1px rgba(0, 0, 0, 0.5);border-radius: 50%;top: 50%;position: absolute;left: 50%;transform: translate(-50%,-50%);}
.wind{font-size: 200px;top: 10%;position: absolute;background-color: white;width: 230px;height: 230px;display: flex;justify-content: center;align-items: center;}
/* .wind::after{width: 200px;height: 200px;background-color: white;position: absolute;content: '';top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 0;} */
.hole{width: 10%;height: 5%;background-color: black;border-radius: 50% 50% 0 0;top: 75%;position: absolute;}
.poto{font-size: 100px;border: 10px ridge goldenrod;background-color: white;color: red;top: 30%;position: absolute;}